<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <title>Поприветствуйте пользователя</title>
</head>
<body>
<div class="container">
  <!-- || — логический оператор ИЛИ -->
  <div v-if="gender === 'male' || gender === 'female'">
    <h1>Привет,
      <!-- отрисовка span, если 'gender' равняется 'male' -->
      <span v-show="gender === 'male'">Мистер {{name}}.</span>
      <!-- отрисовка span, если 'gender' равняется'female' -->
      <span v-if="gender === 'female'">Мисс {{name}}.</span>
    </h1>
  </div>
  <!-- v-else сразу следует за блоком v-if для его работы -->
  <h1 v-else>Так, значит, ты не можешь решить. Отлично!</h1>
  <!-- показать поля ввода -->
  <label for="gender">Введите свой пол:</label>
  <input v-model="gender" class="form-control" id="gender">
  <label for="name">Введите ваше имя:</label>
  <input v-model="name" class="form-control" id="name">
  <pre>{{ $data }}</pre>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '.container',
    data: {
      gender: 'female',
      name: 'Вселенная',
    },
  })
</script>
</html>
