<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <title>User Stories</title>
</head>
<body>
  <div class="container">
    <h1>Let's hear some stories!</h1>
    <div>
      <h3>Alex's stories</h3>
      <ul class="list-group">
        <li v-for="story in storiesBy('Alex')"
        class="list-group-item"
        >
        {{ story.writer }} said "{{ story.plot }}"
      </li>
    </ul>
    <h3>John's stories</h3>
    <ul class="list-group">
      <li v-for="story in storiesBy('John')"
      class="list-group-item"
      >
      {{ story.writer }} said "{{ story.plot }}"
    </li>
  </ul>
</div>
<div class="form-group">
  <label for="query">
    What are you looking for?
  </label>
  <input v-model="query" class="form-control">
</div>
<h3>Search results:</h3>
<ul class="list-group">
  <li v-for="story in search"
  class="list-group-item"
  >
  {{ story.writer }} said "{{ story.plot }}"
</li>
</ul>
<pre>
  {{ $data }}
</pre>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script type="text/javascript">
new Vue({
  el: '.container',
  data: {
    stories: [
      {
        plot: "I crashed my car today!",
        writer: "Alex"
      },
      {
        plot: "Yesterday, someone stole my bag!",
        writer: "John"
      },
      {
        plot: "Someone ate my chocolate...",
        writer: "John"
      },
      {
        plot: "I ate someone's chocolate!",
        writer: "Alex"
      },
    ],
    query: ' '
  },
  methods:{
    storiesBy: function (writer) {
      return this.stories.filter(function (story) {
        return story.writer === writer
      })
    }
  },
  computed: {
    search: function () {
      var query = this.query
      return this.stories.filter(function (story) {
        return story.plot.includes(query)
      })
    }
  }
})

</script>
</html>
