<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <title>Известные истории</title>
</head>
<body>
<div class="container">
  <h1>Давайте послушаем несколько историй!</h1>
  <ul class="list-group">
    <li v-for="(story, index) in orderedStories" :key="index" class="list-group-item">
      {{ story.writer }} сказал "{{ story.plot }}"
      и получил {{ story.upvotes }} голосов.
    </li>
  </ul>
  <!-- Без использования вычисляемого свойства. -->
  <ul class="list-group">
    <li v-for="(story, index) in _.orderBy(stories, ['upvotes'], [order])" :key="index" class="list-group-item">
      {{ story.writer }} сказал "{{ story.plot }}"
      и получил {{ story.upvotes }} голосов.
    </li>
  </ul>
  <button class="btn btn-default" v-on:click="reverseOrder">Обратный порядок</button>

  <pre>{{ $data }}</pre>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script type="text/javascript">
new Vue({
  el: '.container',
  data: {
    stories: [
      {
        plot: 'Сегодня я разбил машину!',
        writer: 'Алекс',
        upvotes: 28
      },
      {
        plot: 'Вчера кто-то украл мою сумку!',
        writer: 'Джон',
        upvotes: 8
      },
      {
        plot: 'Кто-то съел мой шоколад...',
        writer: 'Джон',
        upvotes: 51
      },
      {
        plot: 'Я съел чей-то шоколад!',
        writer: 'Алекс',
        upvotes: 74
      },
    ],
    order: 'desc'
  },
  methods: {
    reverseOrder: function () {
      this.order = (this.order === 'desc') ? 'asc' : 'desc'
    }
  },
  computed: {
    orderedStories: function () {
      var order = this.order
      return _.orderBy(this.stories, 'upvotes', [order])
    }
  }
})
</script>
</html>
